<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> МУЛЬТИВСЕЛЕННАЯ ТАНКОВ </title>
        <link href="/static/leaderboard_window/leaderboard_window.css" rel="stylesheet"></link>
    </head>
    <body>
        <script type="module" src="/static/leaderboard_window/leaderboard_window.js"></script>
        <p class="title">Таблица рекордов:</p>
        <table id="leaderboard" class="leaderboard">
            <thead>
                <tr>
                    <th>Место</th>
                    <th>Имя</th>
                    <th>Счёт</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button id="button" class="button">Назад</button>
    </body>
</html>