<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> МУЛЬТИВСЕЛЕННАЯ ТАНКОВ </title>
        
        <link href="/static/main_window/main_window.css" rel="stylesheet"></link>
    </head>
    <body>
        <p class="main_window__title"> МУЛЬТИВСЕЛЕННАЯ ТАНКОВ </p>
        <div class="main_window__button_container">
            <a href="/game"><button class="main_window__button">Играть</button></a>
            <a href="/rulls"><button class="main_window__button">Правила</button></a>
            <a href="/leaderboard"><button class="main_window__button">Таблица рекордов</button></a>
        </div>
    </body>
</html>