<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> МУЛЬТИВСЕЛЕННАЯ ТАНКОВ </title>
        <link href="/static/save_score_window/save_score_window.css" rel="stylesheet"></link>
    </head>
    <body>
        <script type="module" src = "/static//save_score_window/save_score_window.js"></script>
        <p id="score" class="score"></p>
        <p class="saving_score_text">Давайте сохраним результат!</p>
        <p class="input_name_text">Введите имя / ник (то, что будет отображаться в таблице рекордов):</p>
        <input id="input" type="text" placeholder="Имя..." class="input_field">
        <button id="button" class="save_button">Сохранить</button>
    </body>
</html>
